            <div>
                <div style="padding:25px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สวัสดีทุกท่านผู้กำลังมองหาอาหารแสนอร่อยในมหาลัยเกษตรศาสตร์ รู้รึเปล่าเอ่ยว่า ในมหาลัยของเรานั้นมีของกินมากมายวันนี้ทางเราจะพาทุกท่านไปพบกับโรงอาหารต่างๆที่น่าสนใจไปพบกับโรงอาหารทั้งสี่ ของเรากันเลย
                </div>
               <p style="padding: 0px 0px 0px 20px;">ประกาศ </p><marquee style="background: grey; color: honeydew;">สามารถเข้ารับชมรูปเพิ่มเติมได้ที่ <a target="_blank" href="https://www.instagram.com/canteen.ku/?hl=en">https://www.instagram.com/canteen.ku/?hl=en</a></marquee>
            </div>
            <div>
                <div class="title">บาร์วิทย์</div>
                <div class="info">
                    <a href="?type=sci" onclick="window.open('https://www.google.com/maps/place/%E0%B8%A8%E0%B8%B9%E0%B8%99%E0%B8%A2%E0%B9%8C%E0%B8%AD%E0%B8%B2%E0%B8%AB%E0%B8%B2%E0%B8%A3%E0%B8%84%E0%B8%93%E0%B8%B0%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%95%E0%B8%A3%E0%B9%8C/@13.8471096,100.5700278,18.5z/data=!4m8!1m2!2m1!1z4Lih4Lir4Liy4Lil4Lix4Lii4LmA4LiB4Lip4LiV4Lij4Lio4Liy4Liq4LiV4Lij4LmMIOC5guC4o-C4h-C4reC4suC4q-C4suC4o-C4hOC4k-C4sOC4p-C4tOC4l-C4ouC5jA!3m4!1s0x30e29ce0eb40ce23:0x909138482353cd6a!8m2!3d13.8459036!4d100.5712556')">
                        ลิงค์แผนที่
                    </a>
                    <a href="?p=sci&type=img"><img class="imgnor" src="barsci/dd.jpg" /></a>
                </div>
            </div>
            <div>
                <div class="title">บาร์วิศวะ</div>
                <div class="info">
                    <a href="?type=en" onclick="window.open('https://www.google.com/maps/place/%E0%B8%9A%E0%B8%B2%E0%B8%A3%E0%B9%8C%E0%B8%A7%E0%B8%B4%E0%B8%A8%E0%B8%A7%E0%B8%B0+(IUP)/@13.8446726,100.5714833,17z/data=!4m8!1m2!2m1!1z4Lih4Lir4Liy4Lil4Lix4Lii4LmA4LiB4Lip4LiV4Lij4Lio4Liy4Liq4LiV4Lij4LmMIOC4muC4suC4o-C5jOC4p-C4tOC4qOC4p-C4sA!3m4!1s0x30e29ce0ba83e3cd:0xd7afdcfe971edbae!8m2!3d13.8464482!4d100.569716')">
                        ลิงค์แผนที่
                    </a>
                    <a href="?p=en&type=img"><img class="imgnor" src="baren/ (9).jpg" /></a>
                </div>
            </div>
            <div>
                <div class="title">บาร์ใหม่</div>
                <div class="info">
                    <a href="?type=new" onclick="window.open('https://www.google.com/maps/place/%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B8%AD%E0%B8%B2%E0%B8%AB%E0%B8%B2%E0%B8%A3%E0%B8%81%E0%B8%A5%E0%B8%B2%E0%B8%87+1+(%E0%B8%9A%E0%B8%B2%E0%B8%A3%E0%B9%8C%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88)/@13.8488061,100.5659633,18z/data=!4m8!1m2!2m1!1z4Lih4Lir4Liy4Lil4Lix4Lii4LmA4LiB4Lip4LiV4Lij4Lio4Liy4Liq4LiV4Lij4LmMIOC5guC4o-C4h-C4reC4suC4q-C4suC4o-C4geC4peC4suC4hzE!3m4!1s0x30e29cdd97ccda83:0x4a542530b310e9e9!8m2!3d13.8488061!4d100.5670576')">
                        ลิงค์แผนที่
                    </a>
                    <a href="?p=new&type=img"><img class="imgnor" src="barnew/dd.jpg" /></a>
                </div>
            </div>
            <div>
                <div class="title">บาร์ใหม่กว่า</div>
                <div class="info">
                    <a href="?type=new2" onclick="window.open('https://www.google.com/maps/place/%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B8%AD%E0%B8%B2%E0%B8%AB%E0%B8%B2%E0%B8%A3%E0%B8%81%E0%B8%A5%E0%B8%B2%E0%B8%87+2/@13.8520259,100.5706922,18z/data=!4m8!1m2!2m1!1z4Lih4Lir4Liy4Lil4Lix4Lii4LmA4LiB4Lip4LiV4Lij4Lio4Liy4Liq4LiV4Lij4LmMIOC5guC4o-C4h-C4reC4suC4q-C4suC4o-C4geC4peC4suC4hzI!3m4!1s0x30e29cded8847603:0x755f26a7db6726be!8m2!3d13.8520259!4d100.5717865')">
                        ลิงค์แผนที่
                    </a>
                    <a href="?p=new2&type=img"><img class="imgnor" src="barnewer/dd.jpg" /></a>
                </div>
            </div>
