            <div style="padding:25px; text-align: center;">
                    <strong><a href="?p">Back</a></strong>
                <h1>บาร์วิทย์</h1>
            </div>
            <div>
                <div class="title">Info</div>
                <div class="info">
                    โรงอาหารในคณะวิทยาศาสตร์
                </div>
            </div>
            <div>
                <div class="title">Picture</div>
                <div class="info">
                    <img class="imgnor" src="barsci/ (1).jpg" />
                    <img class="imgnor" src="barsci/ (2).jpg" />
                    <img class="imgnor" src="barsci/ (3).jpg" />
                    <img class="imgnor" src="barsci/ (4).jpg" />
                    <img class="imgnor" src="barsci/ (5).jpg" />
                    <img class="imgnor" src="barsci/ (6).jpg" />
                    <img class="imgnor" src="barsci/ (7).jpg" />
                    <img class="imgnor" src="barsci/ (8).jpg" />
                    <img class="imgnor" src="barsci/ (9).jpg" />
                    <img class="imgnor" src="barsci/dd.jpg" />
                </div>
            </div>
            <div>
                <div class="title">Map</div>
                <div class="info">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1936.932761556385!2d100.5700278!3d13.8471096!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29ce0eb40ce23%3A0x909138482353cd6a!2z4Lio4Li54LiZ4Lii4LmM4Lit4Liy4Lir4Liy4Lij4LiE4LiT4Liw4Lin4Li04LiX4Lii4Liy4Lio4Liy4Liq4LiV4Lij4LmM!5e0!3m2!1sth!2sth!4v1573376958314!5m2!1sth!2sth" width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    <center><strong><a href="?p">Back</a></strong></center>
                </div>
            </div>